body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: auto;
  background: rgb(104, 197, 140);
  padding: 20px;
  border-radius: 8px;
  margin-top: 40px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 12px;
  border: 1px solid #1d6a6e;
  border-radius: 4px;
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
}

.error {
  color: red;
  font-size: 14px;
}
/*css imagenenes*/
.tarjeta-producto {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 280px;
  transition: transform 0.2s ease;
}

.tarjeta-producto:hover {
  transform: translateY(-3px);
}

.producto-imagen {
  width: 100%;
  max-height: 120px;
  object-fit: contain;
  margin-bottom: 10px;
}

.titulo-producto {
  font-size: 1.1rem;
  margin: 6px 0;
  font-weight: bold;
}

.btn-ver-detalle {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  margin-top: auto;
  cursor: pointer;
}

.btn-ver-detalle:hover {
  background-color: #1d4ed8;
}

/*filtro*/
.filtro-input,
.filtro-select {
  height: 32px;
  font-size: 14px;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}
/*cariito*/
.input-pequeño {
  height: 34px;
  font-size: 14px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 300px; /* controla el ancho máximo */
  box-sizing: border-box;
}
